---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <head>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <title>{{ page.title }}</title>
  </head>
  <header class="post-header">
    <div class="post-back">
      <a class="black-link" href="{{ site.url | relative_url }}">
        ← {{ site.moving.back_to }}
      </a>
    </div>

    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="flex-container">
    <span class="ert post-meta">
      {% assign words_total = page.content | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
      {% assign words_without_code = page.content | replace: '<pre class="highlight">', '<!--' | replace: '</pre>', '-->' | replace: '<script type="math/tex">', '' | replace: '<script type="math/tex; mode=display">', '' | replace: '</script>', '' | strip_html | number_of_words %}
        {% assign words_without_math = page.content | strip_html | number_of_words %}
      {% assign words_without_either = page.content | replace: '<pre class="highlight">', '<!--' | replace: '</pre>', '-->' | strip_html | number_of_words %}

      {% assign words_code = words_total | minus: words_without_code | divided_by: 2.0 %}
      {% assign words_math = words_total | minus: words_without_math | times: 2.0 %}
      {% assign words = words_without_either | plus: words_code | plus: words_math | round %}

      {% assign ert = words | divided_by:250 | at_least: 1 %}
      {{ ert }} min{% if ert != 1 %}s{% endif %} read
    </span>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
